// Place all the styles related to the Enigmas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.enigma_list a, .enigma_list a:visited { 
  text-decoration: none;
  color: #111111;
}

.enigma_list a:hover { 
  color: #DDDDDD;
  background-color: #222222;
}

.enigma_grid {
  border-collapse: collapse;
}

.enigma_grid td, .enigma_grid th {
  padding: 2px;
  border: 1px solid #bbb;
}

.header_row {
  background-color: #bbb;
}

